body{
  /* background-color: #ec8c76 ; */
  background-image: url('background_desktop.png');
  /* background-repeat: no-repeat;
  background-size: cover; */
}
.App{
  background-color: #ec765f ;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  opacity:0.8;
  filter:alpha(opacity=80);
}
#taskyazısı{
  font-size: 40px;
}
#to-do-form input{
  background-color: rgb(104, 178, 201);
  border:0;
  width: 250px;
  height:60px;
  padding: 0 20 px;
  margin: 20px auto;
  margin-left: 620px;
  font-size: 18px;
  border-radius: 10px;
  color: #ffff;  /*input içine yazı yazılacak iken renk */
}
#to-do-form ::placeholder{
   color:rgba(75, 38, 238, 0.5);  /* placeholder rengi  */
   padding-left: 60px;
   font-size: 25px;

}
#to-do-form input:focus,#to-do-form button:focus{
 outline: none;
}
/***************************/
#to-do-form button{
  height: 50px;
  width: 80px;
  margin-left: 700px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(228, 186, 72);
  font-weight: bolder;
  color :#ffff;
 }
 
.row  {
  padding-bottom: 50px;
}

.butonlardivi{
  background-color: #ec765f ;
  min-height: 50px;
  width: 440px;
  margin: 40px auto;
  border-radius: 10px;
  opacity:0.8;
  filter:alpha(opacity=80);
  margin-top: -20px;
  font-size: 20px;
}
.deletebuton{
  height: 25px;
  width: 25px;
  background-color: rgb(224, 45, 45);
}
.undobuton{
  height: 25px;
  width: 25px;
  background-color: rgb(245, 245, 70);
}
.donebuton{
  height: 25px;
  width: 25px;
  background-color: rgb(50, 241, 50);
  margin-left: 40px;
}

#row2{
  margin-left: 200px;
  font-size: 50px;
  padding-left: 200px;
}