.list{
    color:#ffff;
    width: 300px;
    background-color: rgb(221, 87, 170) ;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}
.list p {
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px; 
    cursor: pointer;
}
.faicons{
   margin: 0 5px;
   font-size: 15px; 
}